* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: 
        color 0.4s ease,
        background-color 0.4s ease,
        border-color 0.4s ease;
}
/*Entête (taille, color, transparence)*/
.div1 {
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 3;
}
.BTN {
    top: 87%;
    right: 94%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
}
.Bouton {
    cursor: pointer;
    background: none;
    border: none;
    transform: scale(0.9);
    transition: transform 0.5s ease;
}
.Bouton:hover {
    transform: scale(1);
}
.whiteT {
    color: #ffffff;
}
.BlackT {
    color: black;
}
.Black1 {
    color: black;
}
.white {
    color: #fff;
}
.BlackC {
    background-color: rgba(0, 0, 0, 0.8);    
}
.WhiteHead {
    background-color: rgba(255, 255, 255, 0.8);
}
.Black {
    background-color: black;
}
.WhiteButton {
    background-color: white;
}

.Titre {
    width: 20%;
    height: 50%;
    background-image: url(fond\ header.jpg);
    background-position: left;
    margin: 20px;
    display: flex;
    justify-content: center;
    border-radius: 20%;
    border: 2px solid black;
}
/*Bouton afin d'accèdé à différente ancre*/
.bouton {
    width: 60%;
    height: 50%;
    background-image: url(fond\ header.jpg);
    background-position: center;
    margin: 20px;
    display: flex;
    border-radius: 20%;
    border: 2px solid black;
}
.bouton1 {
    width: 20%;
    height: 50%;
    margin: auto;
    border-radius: 30%;
}
/*liens vers une partie de la pâge*/
.bouton1 a {
    margin-left: 45px;
    text-decoration-line: none;
    color: #ff0000;
    font-style: italic;
    font-weight: 800;
}
/*hover signifie quand la souris passe au-dessus*/
.bouton1:hover {
    transform: scale(1.1) translate(-1px);
    opacity: 0.8;
}
.bouton2 {
    width: 20%;
    height: 50%;
    margin: auto;
    border-radius: 30%;
}
.bouton2 a {
    margin-left: 55px;
    text-decoration-line: none;
    color: #ff0000;
    font-style: italic;
    font-weight: 800;
}
.bouton2:hover {
    transform: scale(1.1) translate(-1px);
    opacity: 0.8;
}
.bouton3 {
    width: 20%;
    height: 50%;
    margin: auto;
    border-radius: 30%;
}
.bouton3 a {
    margin-left: 65px;
    text-decoration-line: none;
    color: #ff0000;
    font-style: italic;
    font-weight: 800;
}
.bouton3:hover {
    transform: scale(1.1) translate(-1px);
    opacity: 0.8;
}
.Titre1 {
    font-size: xx-large;
    color: red;
    font-style: oblique;
    font-weight: 800;
    margin-bottom: 15px;
}


/*burger Menu*/
.Burger {
    display: flex;
    justify-content: center;
    width: 100px
}
.Burgerlogo {
    transform: scale(0.8);
    cursor: pointer;
    transition: 0.3s ease;
}
.Burgerlogo:hover {
    transform: scale(0.9);
}
.rotation {
    rotate: z 90deg;
    transition: 0.6s ease;
}
.BGMenu {
    width: 285px;
    height: 600px;
    border-left: 2px solid red;
    border-bottom: 2px solid red;
    z-index: 2;
    position: fixed;
    margin-left: 80%;
    margin-top: 80px;
    transition: transform 1s ease;
    transform: translateX(285px);
}
.Transition {
    transform: translateX(0);
}
/*Pâge entière background*/
main {
    background-image: url(FondSombre.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    opacity: 1;
}
.FondClair {
    background-image: url(FondClair.png);
    background-position-y: bottom;
}
/*Tous sur le centre de la page image+texte de présentation*/
.centre {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid black;
}
.centre01 {
    width: 50%;
    height: 450px;
    margin: 5%;
    margin-top: auto;
}
.centre1 {
    background-image: url(Image\ millieu.jpg);
    background-position-y: -50px;
    background-size: cover;
    width: 100%;
    height: 470px;
    margin: 5%;
    border-radius: 15%;
}
.centre02 {
    width: 90%;
    height: 460px;
    margin: 5%;
}
.White2 {
    background-color: rgba(255, 255, 255, 0.5);
}
.centre2 {
    width: 90%;
    height: 210px;
    margin: 5%;
    border-radius: 15%;
    border: 2px solid rgb(255, 0, 0);
}
.centre2 h1 {
    text-align: center;
    font-size: large;
    text-decoration-line: underline;
    margin-top: 2%;

}
.centre2 p {
    text-align: center;
    font-size: large;
    display: flex;
    margin-top: 5%;
    font-weight: 500;

}
.centre3 {
    width: 90%;
    height: 210px;
    margin: 5%;
    border-radius: 15%;
    border: 2px solid rgb(255, 0, 0);
}
.centre3 h2 {
    text-align: center;
    font-size: large;
    text-decoration-line: underline;
    margin-top: 2%;

}
.centre3 p {
    text-align: center;
    font-size: large;
    display: flex;
    margin-top: 2%;
    font-weight: 500;

}
/*Tableau et colonne ligne (TD/Th)*/
.tableau {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
td {
    border: 4px solid rgb(255, 0, 0);
    font-size: large;
    font-weight: 800;
}
table {
    border-collapse: collapse;
    width: 90%;
    height: 320px;
    margin-top: 30px;
}
/*Titre du tableau*/
caption {
    font-family: cursive;
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 10px;
}
th {
    font-family: cursive;
    font-size: larger;
    border-left: 4px solid rgb(255, 0, 0);
    border-right: 4px solid rgb(255, 0, 0);
    border-top: 4px solid rgb(255, 0, 0);
}
/*Bas de page taille/contact texte button*/
footer {
    width: 100%;
    height: 70px;
}
.bash {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}
.bash P {
    text-align: center;
    font-weight: 700;
    text-decoration-line: underline;
    font-size: large;
}
.basb {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly
}
.mail {
    width: 10%;
    height: 50%;
    background-image: url(fond\ header.jpg);
    background-position: left;
    border-radius: 20%;
    margin: auto;
}
.mail:hover {
    transform: scale(1.1) translate(-1px);
}
.mail a {
    margin-left: 55px;
    margin-top: 10px;
    text-decoration-line: none;
    color: #ff0000;
    font-weight: 700;
    font-size: larger;
}
.téléphone {
    width: 10%;
    height: 50%;
    background-image: url(fond\ header.jpg);
    background-position: bottom;
    border-radius: 20%;
    margin: auto;
}
.téléphone:hover {
    transform: scale(1.1) translate(-1px);
}
.téléphone a {
    margin-left: 30px;
    margin-top: 10px;
    text-decoration-line: none;
    color: #ff0000;
    font-weight: 700;
    font-size: larger;
}
.linkedin {
    width: 10%;
    height: 50%;
    background-image: url(fond\ header.jpg);
    background-position: right;
    border-radius: 20%;
    margin: auto;
    display: flex;
}
.linkedin:hover {
    transform: scale(1.1) translate(-1px);
}
.linkedin a {
    margin-left: 35px;
    margin-top: 2x;
    text-decoration-line: none;
    color: #ff0000;
    font-weight: 700;
    font-size: larger;
}
/*section carte*/
.cartesbase {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    min-height: 100vh;
}
img {
    max-width: 100%;
    display: block;
}
/*Carte Luffy taille position etc...*/
.carte1 {
    width: 15%;
    height: 50px;
    margin-top: 13%;
    margin-right: 0%;
    position: relative;
}
.carte1 img {
    transform: scale(1.2);
    transition: all 0.3s ease-out;
}
/*souris au dessus de l'image*/
.carte1:hover img{
    transform: scale(1.1) translate(-1px);
}
/*Description carte Luffy*/
.descriptioncarte1 {
    width: 100%;
    padding: 1px;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
}
/*Nom de luffy*/
.descriptioncarte1 h3 {
    font-weight: 700;
    font-size: 32px;
    margin-top:15%;
    color: rgb(125, 44, 4);
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out;
}
/*paragraphe luffy*/
.descriptioncarte1 p {
    transform: translateY(30px);
    margin-top: 5%;
    opacity: 0;
    transition: all 0.3s ease-out 0.2s;
    color: rgb(0, 0, 0);
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.3);
}
/*Liens vers pâge luffy wiki design*/
.descriptioncarte1 a {
    color: #fff;
    background: rgb(14, 27, 117);
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 5%;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out 0.2s;
}
/*quand l'on passe la souris sur la carte texte apparait*/
.descriptioncarte1 a:hover {
    background: rgb(6, 24, 147);
}
.carte1:hover .descriptioncarte1 h3 {
    opacity: 1;
    transform: translateY(0px);
}
.carte1:hover .descriptioncarte1 p {
    opacity: 1;
    transform: translateY(0px);
}
.carte1:hover .descriptioncarte1 a {
    opacity: 1;
    transform: translateY(0px);
}
.carte2 {
    width: 15%;
    height: 50px;
    margin-top: 13%;
    position: relative;
}
.carte2 img {
    transform: scale(1.2);
    transition: all 0.3s ease-out;
}
.carte2:hover img{
    transform: scale(1.1) translate(-1px);
}
.descriptioncarte2 {
    width: 100%;
    padding: 1px;
    text-align: center;
    color: #fff;
    font-size: 15px;
}
.descriptioncarte2 h3 {
    font-weight: 700;
    font-size: 32px;
    margin-top: 15%;
    color: rgb(125, 44, 4);
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out;
}
.descriptioncarte2 p {
    transform: translateY(30px);
    margin-top: 5%;
    opacity: 0;
    transition: all 0.3s ease-out 0.2s;
    color: rgb(0, 0, 0);
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.3);
}
.descriptioncarte2 a {
    color: #fff;
    background: rgb(14, 27, 117);
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 5%;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out 0.4s;
}
.descriptioncarte2 a:hover {
    background: rgb(6, 24, 147);
}
.carte2:hover .descriptioncarte2 h3 {
    opacity: 1;
    transform: translateY(0px);
}
.carte2:hover .descriptioncarte2 p {
    opacity: 1;
    transform: translateY(0px);
}
.carte2:hover .descriptioncarte2 a {
    opacity: 1;
    transform: translateY(0px);
}
.carte3 {
    width: 15%;
    height: 50px;
    margin-top: 13%;
    position: relative;
}
.carte3 img {
    transform: scale(1.2);
    transition: all 0.3s ease-out;
}
.carte3:hover img{
    transform: scale(1.1) translate(-1px);
}
.descriptioncarte3 {
    width: 100%;
    padding: 1px;
    text-align: center;
    color: #fff;
    font-size: 15px;
}
.descriptioncarte3 h3 {
    font-weight: 700;
    font-size: 32px;
    margin-top: 15%;
    color: rgb(125, 44, 4);
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out;
}
.descriptioncarte3 p {
    transform: translateY(30px);
    margin-top: 5%;
    opacity: 0;
    transition: all 0.3s ease-out 0.2s;
    color: rgb(0, 0, 0);
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.3);
}
.descriptioncarte3 a {
    color: #fff;
    background: rgb(14, 27, 117);
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 5%;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out 0.4s;
}
.descriptioncarte3 a:hover {
    background: rgb(6, 24, 147);
}
.carte3:hover .descriptioncarte3 h3 {
    opacity: 1;
    transform: translateY(0px);
}
.carte3:hover .descriptioncarte3 p {
    opacity: 1;
    transform: translateY(0px);
}
.carte3:hover .descriptioncarte3 a {
    opacity: 1;
    transform: translateY(0px);
}
.carte4 {
    width: 15%;
    height: 50px;
    margin-top: 13%;
    position: relative;
}
.carte4 img {
    transform: scale(1.2);
    transition: all 0.3s ease-out;
}
.carte4:hover img{
    transform: scale(1.1) translate(-1px);
}
.descriptioncarte4 {
    width: 100%;
    padding: 1px;
    text-align: center;
    color: #fff;
    font-size: 15px;
}
.descriptioncarte4 h3 {
    font-weight: 700;
    font-size: 32px;
    margin-top: 15%;
    color: rgb(125, 44, 4);
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out;
}
.descriptioncarte4 p {
    transform: translateY(30px);
    margin-top: 5%;
    opacity: 0;
    transition: all 0.3s ease-out 0.2s;
    color: black;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.3);
}
.descriptioncarte4 a {
    color: #fff;
    background: rgb(14, 27, 117);
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 5%;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out 0.4s;
}
.descriptioncarte4 a:hover {
    background: rgb(6, 24, 147);
}
.carte4:hover .descriptioncarte4 h3 {
    opacity: 1;
    transform: translateY(0px);
}
.carte4:hover .descriptioncarte4 p {
    opacity: 1;
    transform: translateY(0px);
}
.carte4:hover .descriptioncarte4 a {
    opacity: 1;
    transform: translateY(0px);
}